<ion-content class="ion-padding home-bg">
  <div class="brand">
    <img src="assets/imgs/logoAML.png" alt="AML" class="logo" />
    <h2>App AML</h2>
  </div>

  <p class="welcome">
    ¡Bienvenido, <b>{{ nombre }}</b>! Hoy tienes
    <b class="danger">{{ emergencias }}</b> emergencias y
    <b class="warn">{{ recordatorios }}</b> recordatorio.
  </p>

  <div class="menu">
    <button class="pill pill--red">
      <ion-icon name="call-outline"></ion-icon>
      Emergencias
    </button>

    <button class="pill pill--yellow">
      <ion-icon name="calendar-outline"></ion-icon>
      Actividades
    </button>

    <button class="pill pill--blue" routerLink="/beneficios">
  <ion-icon name="notifications-outline"></ion-icon> Beneficios
    </button>

    <button class="pill pill--pink">
      <ion-icon name="alarm-outline"></ion-icon>
      Recordatorios
    </button>

    <button class="pill pill--green">
      <ion-icon name="settings-outline"></ion-icon>
      Configuración
    </button>

    <button class="pill pill--brown">
      <ion-icon name="megaphone-outline"></ion-icon>
      Reporte Vecino
    </button>
  </div>
</ion-content>
